[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/miketheman/nginx.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/iis"]
	path = cookbooks/iis
	url = git://github.com/opscode-cookbooks/iis.git
[submodule "cookbooks/newrelic"]
	path = cookbooks/newrelic
	url = git://github.com/escapestudios-cookbooks/newrelic.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = git://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/scalr"]
	path = cookbooks/scalr
	url = git://github.com/scalr-tutorials/scalr-cookbook.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = git://github.com/chef-cookbooks/chef_handler.git
